name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.21"

      - name: Build
        run: |
          go build -v ./...
          go build -v -o semantic-release-notes

      - name: Test
        run: go test -v ./...

      - name: Run Verification Script
        run: |
          ls -la
          git config set advice.defaultBranchName false
          git config --global init.defaultBranch main
          chmod +x verify.sh
          ./verify.sh
